@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionBox:hover .customWhiteSvg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg)
    brightness(105%) contrast(101%);
}

.customRightArrow {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(154deg)
    brightness(105%) contrast(101%);
}

.customBlackSVG {
  filter: invert(0%) sepia(0%) saturate(22%) hue-rotate(353deg) brightness(92%)
    contrast(105%);
}
